@import url("https://fonts.googleapis.com/css?family=Material+Icons+Round");
@import url("https://use.typekit.net/wqa0cwj.css");
@import "reset.css";
@import "variables.css";
@import "material-icons.css";

/* screens */
@import "screens/home.css";

/* components */
@import "components/header.css";

body {
  font-family: brandon-grotesque, sans-serif;
  color: white;
}
.info-text {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
}
